body {
    background-color: black;
}

.hello {
    top: 0;
    background-color: #e5c35eff;
    background-attachment: fixed;
    position: fixed;
    height: 85px;
    width: 100%;
    text-align: center;
    z-index: 999;
}

#headerlogo {
    height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#more {
    position: absolute;
    top: 8px;
    left: 16px;
    height: 70px;
}

#cart {
    position: absolute;
    top: 10px;
    right: 70px;
    height: 60px;
}

#usericon {
    position: absolute;
    top: 10px;
    right: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#username {
    position: absolute;
    text-align: center;
    top: -5px;
    right: 200px;
    font-size: 28px;
    font-family: 'Lobster';
}

.dropdown {
    float: none;
    overflow: hidden;
}

.dropdown .dropbtn {
    position: absolute;
    color: black;
    background: rgb(240, 226, 184);
    top: 33px;
    right: 170px;
    width: 20px;
    height: 20px;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 100px;
    background-color: #ffe599ff;
    outline-style: solid;
    outline-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-content a {
    float: none;
    color: black;
    outline-color: white;
    outline-style: solid;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #e5c35eff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#Container {
    text-align: center;
    top: 100px;
    width: 95%;
    height: auto;
    bottom: 150px;
    position: relative;
    background-color: rgb(187, 172, 111);
    padding: 20px 0;
    margin: auto;
}

#Profile {
    font-family: 'Merriweather';
    font-size: 24px;
}

#Profile button {
    text-align: center;
    font-family: 'Merriweather';
    font-size: 14px;
}

h1 {
    font-family: 'Lobster';
    font-size: 36px;
}

hr.dashed {
    border-top: 1px dotted white;
}

h3 {
    font-family: 'Lobster';
    font-size: 30px;
    background-color: rgb(219, 212, 143);
}

p input {
    text-align: center;
    font-family: 'Merriweather';
    font-size: 14px;
}

p strong {
    color: white;
}

#custName {
    color: white;
}

#email {
    color: white;
}

div a {
    font-size: 25px;
    font-family: 'Caveat';
}