.row,
.crow,
.frow,
.mrow,
.vrow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    position: relative;
    margin-bottom: 30px;
}

.col-3 img {
    display: block;
    width: 300px;
    height: 200px;
}

.image_overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.image_title {
    font-size: 1.5em;
    font-weight: bold;
}

p.image_desc {
    font-size: 1em;
    margin-top: 0.25em;
}

.image_overlay:hover {
    opacity: 1;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 300px;
    height: 200px;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #e5c35eff;
}

.title::after {
    content: '';
    background: white;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-10px)
}


/* Footer */

.footer-main-div {
    width: 100%;
    height: auto;
    bottom: 0;
    margin: auto;
    background: #e5c35eff;
    padding: 20px 0px;
    color: black;
    font-size: 14px;
}

.footer-socmed {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-socmed ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-right: 5px;
}

.footer-socmed ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: black;
}

.footer-socmed ul li a {
    color: whitesmoke;
    font-size: 25px;
    display: block;
}

.footer-socmed ul li a i {
    line-height: 50px;
}

.footer-menu1 {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.footer-menu1 ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-menu1 ul li {
    display: inline-block;
    margin: 0px 15px;
}

.footer-menu1 ul li a {
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.copyright {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    text-align: center;
}